 body{
	 background-color: #f0f8ff;
 }
 table td{
	padding: 20px;
	border: 1px outset #fff;
	background-color: #4ba0d2;
} 

table{
	border-spacing: 0px;
}

.flexRow{
	display: flex;
	align-items: flex-start;
	flex-direction: row;
}

.borderVisibRemoveButtons{
	display: inline-block;
}

.flexCol{
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

#addrows{
	cursor: pointer;
	flex-shrink: 0;
	position: relative;
	border: 1px outset #fff;
	padding: 5px 13px;
	font-weight: bold;
	font-size: 18pt;
	background-color: #da9c2a;
	color : #fff;
}

#addrows:hover {
	opacity: 0.5;
}

#addcols{
	cursor: pointer;
	flex-shrink: 0;
	position: relative;
	border: 1px outset #fff;
	padding: 6px 13px;
	font-weight: bold;
	font-size: 18pt;
	background-color: #da9c2a;
	color : #fff;
	margin-top: 42px;

}

#addcols:hover {
	opacity: 0.5;
}


#removecols{
	cursor: pointer;
	flex-shrink: 0;
	position: relative;
	border: 1px outset #fff;
	padding: 6px 16px;
	font-weight: bold;
	font-size: 18pt;
	background-color:#980007;
	color : #fff;
}

#removecols:hover {
	opacity: 0.5;
}


#removerows{
	cursor: pointer;
	flex-shrink: 0;
	position: relative;
	border: 1px outset #fff;
	padding: 6px 16px;
	font-weight: bold;
	font-size: 18pt;
	background-color:#980007;
	text-align: center;
	color : #fff;
	margin-top: 42px;
} 
 #removerows:hover {
	opacity: 0.5;
}